* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: #000000;
  font-weight: bold;
  transition: 0.3s;
  text-align: center;
  background-color: #ffffff;
}

h3 {
  color: #2f363f;
  text-align: center;
}
footer {
  background-color: rgb(60, 80, 136);
  letter-spacing: 0.5px;
}

footer p {
  margin: 0;
  font-size: 15px;
}

@media only screen and (orientation: portrait) {
  .intro {
    display: flex;
    flex-direction: column-reverse;
  }

  h1 {
    font-size: 30px;
  }

  .act {
    padding-bottom: 100px;
  }
}
